.relogio_digital {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3em;
    font-family: monospace;
    color: var(--cor_texto_principal);

    border: 2px solid var(--cor_detalhes_2);
    border-radius: 30%;

    width: 300px;
  }
  
  .divisor {
    margin: 0 0.2em;
  }

  .dispositivo{
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 5px 10px var(--cor_texto_principal);
    background-image: linear-gradient(to right, var(--cor_fundo_principal_1),var(--cor_fundo_principal_2),var(--cor_fundo_principal_3),var(--cor_fundo_principal_4));
    border: 5px solid var(--cor_detalhes_2);
    border-radius: 5%;
    color: var(--cor_texto_principal);
    
  }

  .relogio_digital:hover{
    box-shadow: 0px 5px 10px var(--cor_detalhes_2);
  }